*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.navbar { /*for navigation bar and all elements*/
    background : #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top : 0;
    z-index: 999;
}

.navbar__container { /* styling for the navigation bar container*/
    display: flex;
    justify-content: space-between;
    height : 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto ;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

#navbar__logo {  /* Styling for the "Corey Chen"*/
    background-color: #fff;
    background-image: linear-gradient( #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding : 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #776c6b; /*color for sign up button background*/
    color: #fff; /*color for signup button text*/
}

.button:hover { /*changes the color of the signup button when hovered*/
    background: #3d3c51;
    transition:  all 0.3s ease;
}

.navbar__links:hover {
    color: #3d3c51; /*changes the color of the other links' text when hovered*/
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */
.main {   /*Background color of the overall page*/
    background-color: #28272f;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #28272f;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 6rem;
    background-color: #fff;
    background-image: linear-gradient(to top, #fff 0%, #141414 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 8rem;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0%, #5a5757 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff
}

.main__btn { /*styling for main buttin "get started"*/
    font-size: 1rem;
    background-image: linear(#3b2c2c 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #141414;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s ease-in;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #141414;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #484141;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff
}

.main__btn:hover:after {
    width: 100%
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 50%;
    width: 50%;
}

/* mobile responsive css */
@media screen and (max-width: 768px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Projects CSS */
.projects {
    background: #28272f;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    height: 100vh;
}

.projects h1 {
    background-color: #fff;
    background-image: linear-gradient(#fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.projects__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects h4 {
    position: static;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1px 4rem 4rem 4rem;
}

.projects__card {
    margin: 1rem;
    height: 525px;
    width: 600px;
    border-radius: 4px;
    background-image: url('/images/battleship.jpeg'); 
    background-color: #fff;
    background-size: cover;
    position: relative;
    color: #fff;
}

.battleship {
    display: flex;
    margin: 1rem;
    height: 525px;
    width: 600px;
    border-radius: 4px;
}

.projects__card:before {
    opacity: 0;
}

.projects__card:nth-child(2) {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.9) 100%
    ),
    url('/images/eagleproject.jpeg');
}
.projects h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.projects__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.project_button {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #776c6b;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
}

.projects__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .projects {
        height : 1600px;
    }

    .projects h1 {
        font-size : 2rem;
        margin-top: 14rem;
    }
}

@media screen and (max-width: 480px) {
    .projects {
        height: 1400px;
    }

    .projects h1 {
        font-size: 1.2rem;
    }

    .projects__Card {
        width: 300px;
    }
}

/* Footer CSS */
.footer__container {
    background-color: #28272f;
    height: 30vh;
}

.footer__container h1 {
    text-align: center;
    color: #fff;
    float: bottom;
}

.footer__container h3 {
    text-align: center;
    color: #fff;
}

@media screen {
    .footer__container{
        height: 500px;
    }
}
